.App {
  width: 450px;
  /* height: 200px; */
  margin: auto;
  margin-top: 5em;

  /* background-color: red; */
}

.App * {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.justify-between {
  justify-content: space-between;
}

.gray {
  color: gray;
}

.left_border {
  border-left: 1px solid gray;
}

.gap-4 {
  gap: 7px;
}

.gap-5 {
  gap: 15px;
}

.w-45 {
  width: 45%;
}

.justify-end {
  justify-content: end;
}

.button {
  padding: 7px 15px;
  outline: none;
  background-color: rgb(25, 155, 25);
  border: 0;
  color: white;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
