.App {
  width: 450px;
  /* height: 200px; */
  margin: auto;
  margin-top: 5em;

  /* background-color: red; */
}

.App * {
  box-sizing: border-box;
}

.App .navbar {
  position: fixed;
  margin-left: 250px;
  width: calc(100vw - 250px);
  height: 5em;
  top: 0;
  left: 0;
  border-bottom: 1px solid gray;
  box-shadow: 1px 2px 2px;
  background-color: white;
}

.App .navbar + * {
  margin-top: 10em;
}

.App .sidenav {
  position: fixed;
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(47, 47, 80);
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.justify-between {
  justify-content: space-between;
}

.gray {
  color: gray;
}

.left_border {
  border-left: 1px solid gray;
}

.gap-4 {
  gap: 7px;
}

.gap-5 {
  gap: 15px;
}

.w-45 {
  width: 45%;
}

.justify-end {
  justify-content: end;
}

.button {
  padding: 7px 15px;
  outline: none;
  background-color: rgb(25, 155, 25);
  border: 0;
  color: white;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
